# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Batect-specific

# Don't include the dynamically-generated version info file.
app/src/main/kotlin/batect/VersionInfo.kt

# Don't include the test app JAR.
wrapper/**/test/testapp.jar

tools/log-viewer/log.json
tools/viz-tool/log.json

**/.batect/caches